In [2]:
import pandas as pd

In [14]:
card = pd.read_csv('C:/Users/Richard/Desktop/R/data/fraud/card.csv')
print card.head() 
print type(card)

   card_id  disp_id     type           issued
0     1005     9285  classic  931107 00:00:00
1      104      588  classic  940119 00:00:00
2      747     4915  classic  940205 00:00:00
3       70      439  classic  940208 00:00:00
4      577     3687  classic  940215 00:00:00
<class 'pandas.core.frame.DataFrame'>

In [33]:
print card.tail()

     card_id  disposition_id     type      issued_date
887      125             694     gold  981226 00:00:00
888      674            4360  classic  981228 00:00:00
889      322            2063  classic  981228 00:00:00
890      685            4467  classic  981229 00:00:00
891      635            4083  classic  981229 00:00:00

In [19]:
## write a csv file
card.to_csv('new_card.csv')

In [23]:
## summarize
print card.describe()
print card.shape

           card_id       disp_id
count   892.000000    892.000000
mean    480.855381   3511.862108
std     306.933982   2984.373626
min       1.000000      9.000000
25%     229.750000   1387.000000
50%     456.500000   2938.500000
75%     684.250000   4459.500000
max    1247.000000  13660.000000
(892, 4)

In [191]:
## change variable names
card.columns = ["card_id","disposition_id","type","issued_date"]
# card.rename(columns=["card_id1","disposition_id1","type1","issued_date1"])
card.head()

   card_id  disposition_id     type      issued_date
0     1005            9285  classic  931107 00:00:00
1      104             588  classic  940119 00:00:00
2      747            4915  classic  940205 00:00:00
3       70             439  classic  940208 00:00:00
4      577            3687  classic  940215 00:00:00

In [32]:
a1 = card
a2 = card
c = a1.append(a2)
c.shape

(1784, 4)

In [44]:
## select variables
a = card[['type','issued_date']]
print a.head()
print type(a)

      type      issued_date
0  classic  931107 00:00:00
1  classic  940119 00:00:00
2  classic  940205 00:00:00
3  classic  940208 00:00:00
4  classic  940215 00:00:00
<class 'pandas.core.frame.DataFrame'>

In [77]:
## filter
card[(card.card_id <10) & (card.type=='gold')]

     card_id  disposition_id  type      issued_date
64         3              41  gold  950903 00:00:00
777        1               9  gold  981016 00:00:00

In [80]:
card.query('card_id < 20 & type== "gold"')

     card_id  disposition_id  type      issued_date
64         3              41  gold  950903 00:00:00
385       11              79  gold  971025 00:00:00
777        1               9  gold  981016 00:00:00

In [94]:
## drop a variable
a = card.drop('card_id',axis=1)
print a.head()

   disposition_id     type      issued_date
0            9285  classic  931107 00:00:00
1             588  classic  940119 00:00:00
2            4915  classic  940205 00:00:00
3             439  classic  940208 00:00:00
4            3687  classic  940215 00:00:00

In [96]:
card.sample(n=10)

     card_id  disposition_id     type      issued_date
579     1216           13097  classic  980526 00:00:00
240      513            3260  classic  970315 00:00:00
862      371            2388     gold  981213 00:00:00
761      245            1483  classic  981008 00:00:00
330      718            4660  classic  970812 00:00:00
154       12              83   junior  960911 00:00:00
666      508            3249  classic  980803 00:00:00
637      411            2572  classic  980715 00:00:00
336      502            3201  classic  970822 00:00:00
818      253            1536     gold  981114 00:00:00

In [105]:
# sorting
card.sort_values(['card_id','disposition_id'])
card.sort_values('card_id',ascending=False)
print ''

   client_id  birth_number  district_id
0          1        706213           18
1          2        450204            1
2          3        406009            1
3          4        561201            5
4          5        605703            5

In [165]:
# mutation / transformation
import numpy as np
client = pd.read_csv('C:/Users/Richard/Desktop/R/data/fraud/client.csv')
client['year'] = np.floor(client.birth_number/10000).astype(int)+1900
client['month'] = np.floor(client.birth_number%10000/100).astype(int)
client['day'] = np.floor(client.birth_number%100).astype(int)
client['gender']=0
client.set_value(client.month > 12,'gender','Female')
client.set_value(client.month <= 12,'gender','Male')
client.set_value(client.month > 12, 'month', client.month-50)
client.head()

   client_id  birth_number  district_id  year  month  day  gender
0          1        706213           18  1970     12   13  Female
1          2        450204            1  1945      2    4    Male
2          3        406009            1  1940     10    9  Female
3          4        561201            5  1956     12    1    Male
4          5        605703            5  1960      7    3  Female

In [183]:
## group_by
print card.groupby('type').size().rename('count')
print card.groupby('type').agg(['mean','sum','count'])

type
classic    659
gold        88
junior     145
Name: count, dtype: int64
            card_id               disposition_id
               mean     sum count           mean      sum count
type
classic  475.855842  313589   659    3468.884674  2285995   659
gold     479.875000   42229    88    3563.193182   313561    88
junior   504.172414   73105   145    3676.034483   533025   145

In [245]:
card['type'].value_counts()

classic    659
junior     145
gold        88
Name: type, dtype: int64

In [229]:
## merge
account = pd.read_csv('C:/Users/Richard/Desktop/R/data/fraud/account.csv')
disposition = pd.read_csv('C:/Users/Richard/Desktop/R/data/fraud/disposition.csv')
a = pd.merge(disposition, account, on="account_id",how="inner")
b = pd.merge(a, client,on=["client_id","district_id"],how="inner")
df = pd.merge(b,card, left_on="disp_id", right_on="disposition_id",how="left")
print df.shape, '\n'
print df.head(2)

(4875, 16)

   disp_id  client_id  account_id type_x  district_id         frequency  \
0        1          1           1  OWNER           18  POPLATEK MESICNE
1        2          2           2  OWNER            1  POPLATEK MESICNE

     date  birth_number  year  month  day  gender  card_id  disposition_id  \
0  950324        706213  1970     12   13  Female      NaN             NaN
1  930226        450204  1945      2    4    Male      NaN             NaN

  type_y issued_date
0    NaN         NaN
1    NaN         NaN

In [244]:
# distinct -- unique
a = df['day'].unique()
print np.sort(a)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
 26 27 28 29 30 31]